<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pro</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6  offset-3">
                <form action="/" method="post">
                    <label class="h4">Estilo de músicas favoritos</label>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="EstiloMusica" class="form-check-input" />Pop
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="EstiloMusica" value="3" class="form-check-input" />Rock
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="EstiloMusica" value="5" class="form-check-input" />Samba
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="EstiloMusica" class="form-check-input" />MPB
                        </label>
                    </div>

                    <section class="row justify-content-center mb-5">
                        <input class="btn btn-lg btn-primary" type="submit" value="Cadastrar" />
                    </section>

                </form>

                <form>
                    <label class="h4">Forma de pagamento</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="TipoPagamento" class="form-check-input" />Pop
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="TipoPagamento" value="1" class="form-check-input" />Rock
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="TipoPagamento" value="2" id="" class="form-check-input" />Samba
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="TipoPagamento" value="3" class="form-check-input" />MPB
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    Recolher






    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>