<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pro</title>
</head>
<body>

    <form action="/" method="post">

        <input type="text" />

        <input type="submit" value="SALVAR" />
    </form>

</body>
</html>