<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pro</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6  offset-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-success">
                            <td>1</td>
                            <td>Ana</td>
                        </tr>
                        <tr class="bg-warning">
                            <td>2</td>
                            <td>Bob</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Alice</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>John</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>